.mainContainer{
    max-width: 100%;
    min-height:100%;
    height: auto;
    overflow:auto;
    background-color: var(--white);
    position: relative;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.1); 
}
.container{
    margin:1rem 1.5rem;
    width: 80%;
    height: 100%;
}
.logo{
    margin: 2rem 0;
}
 .navlinks {
    width: 100%;
    height: auto;
    margin-top: 1rem;
    font-family: "Poppins", sans-serif;
  }
  
  .navlinks .links {
    margin-bottom: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    height: 3rem;
    position: relative;
  }
  
  .navlinks .links .link {
    display: flex;
    height: 100%;
    gap: 0.5rem;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    color: #676767;
    padding: 0 12px;
    position: relative;
    z-index: 1;
    
  }
  
  .navlinks .links .active {
    display: flex;
    font-size: 1.1rem;
    height: 100%;
    gap: 0.5rem;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    color: var(--accent);
    padding: 0 12px;
    position: relative;
    z-index: 1;
  }
  
  .navlinks .links .active::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #F3F3F1;
    border-radius: 12px;
    z-index: -1;
  }

  .createMeetingBtn{
    width: 8.1rem;
    height: 38px;
    background-color: transparent;
    border: 2px solid var(--accent);
    color: var(--accent);
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  
  .profileSection{
    position: absolute;
    bottom: 2rem;
    color: var(--black);
    gap: 0.9rem;
  }
 